# Default values for sre-orchestrator.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

nameOverride: ""
fullnameOverride: "sre-orch"

serviceAccount:
  create: true
  annotations: {}
  name: ""
  automount: true

orchestrator:
  replicaCount: 1

  image:
    repository: ghcr.io/sre-spaghetti/sre-orchestrator
    pullPolicy: IfNotPresent
    tag: "0.1.0"

  service:
    type: ClusterIP
    port: 80

  resources: {}
  #  limits:
  #   cpu: 100m
  #   memory: 128Mi
  #  requests:
  #   cpu: 100m
  #   memory: 128Mi

  nodeSelector: {}

  tolerations: []

  affinity: {}

  geminiApiKey: ""
  geminiModel: "gemini-2.5-flash"

  mcp_servers:
    - server_url: "msk-mcp-server-kubernetes.msk.svc.cluster.local:3000/mcp"
      transport_type: "http"
